.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.page_title {
    padding: 0px 0px;
}

    .page_title h3 {
        color: white;
        font-weight: 700;
        line-height: 2;
        margin-bottom: 0;
        position: relative;
        text-transform: capitalize;
    }

        .page_title h3::before {
            background: white;
            width: 70px;
            height: 2px;
            position: absolute;
            content: '';
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .page_title h3::after {
            position: absolute;
            content: '';
            background: #fbc531;
            width: 30px;
            height: 2px;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
        }