@inject ICategoryService CategoryService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider  

<div style="display: flex; justify-content: center" class="top-row pl-4 navbar navbar-dark">
    <div class="page_title text-center">
        <h3 style="font-family: Food; letter-spacing: 2px">SNACKZEN</h3>
        <div class="single_line"></div>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true" style="margin-top:10px;margin-right:15px;"><RadzenIcon Icon="home" /></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/all" Match="NavLinkMatch.All">
                <span aria-hidden="true" style="margin-top:10px;margin-right:15px;"><RadzenIcon Icon="restaurant_menu" /></span> All products
            </NavLink>
        </li>
        <li class="dropdown-divider"></li>
        @foreach (var category in CategoryService.Categories)
        {
            <li class="nav-item px-3 ">
                <NavLink class="nav-link " href="@category.Url">
                    <span aria-hidden="true" style="margin-top:10px;margin-right:15px;"><RadzenIcon Icon="@category.Icon" /></span> @category.Name
                </NavLink>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span style="margin-top:10px;margin-right:15px;" aria-hidden="true"><RadzenIcon Icon="login" /></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.LoadCategories();
    }
}
