@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

@if (category != null)
{
    <h1>Welcome to the @category.Name section!</h1>
    <ProductList />
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <h1>Welcome to our restaurant!</h1>
        </NotAuthorized>
        <Authorized>
            <h1>Welcome back <b style="background-image:  linear-gradient(-90deg, #c0392b 55%, #fbc531 100%); padding:5px; color:  white">@(localStorage.GetItem<string>("name"))</b>!</h1>
        </Authorized>
    </AuthorizeView>
    <ProductList />
}

@code
{
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProducts(CategoryUrl);

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }
    }
}
