@page "/ordersuccess"

<h3 style="font-family: Food">Thank you</h3>

<span>Thank you so much for your order!</span><br />

<RadzenImage Path="https://svgur.com/i/dnn.svg" Style="bottom:0; height:500px; width:500px;">
</RadzenImage><br />
<span>Courier will deliver your order soon!</span>
