@page "/changepassword"
@using Food.Shared
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject IUserService UserService


<h3>Change Your Password</h3>

        <RadzenButton Click=@(args => Back()) Text="Back" Icon="arrow_back" ButtonStyle="ButtonStyle.Info" /><br />

        <EditForm Model="change" OnValidSubmit="HandleChange">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="password">New Password</label>
                <InputText id="password" type="password" @bind-Value="change.Password" class="form-control"></InputText>
                <ValidationMessage For="@(() => change.Password)" />
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <InputText id="cpassword" type="password" @bind-Value="change.ConfirmPassword" class="form-control"></InputText>
                <ValidationMessage For="@(() => change.ConfirmPassword)" />

            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Change" Icon="save" ButtonStyle="ButtonStyle.Info" />
        </EditForm>
@code {
    public ChangePassword change { get; set; } = new ChangePassword();

    public void HandleChange()
    {
        change.Email = localStorage.GetItem<string>("email");
        UserService.UpdatePassword(change);
        NavigationManager.NavigateTo("/profile");
    }
    public void Back()
    {
        NavigationManager.NavigateTo("/profile");
    }

}
