@page "/changepassword"
@using Food.Shared
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject IUserService UserService


<h3>Change Your Password</h3>

<EditForm Model="change" OnValidSubmit="HandleChange">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="passwrd">New Password</label>
        <InputText id="passwrd" type="password" @bind-Value="change.Password" class="form-control"></InputText>
        <ValidationMessage For="@(() => change.Password)" />
    </div>
    <div class="form-group">
        <label for="cpasswrd">Confirm Password</label>
        <InputText id="cpasswrd" type="password" @bind-Value="change.ConfirmPassword" class="form-control"></InputText>
        <ValidationMessage For="@(() => change.ConfirmPassword)" />

    </div>
    <RadzenButton ButtonType="ButtonType.Submit" Text="Change" ButtonStyle="ButtonStyle.Info" />
</EditForm>


@code {
    public ChangePassword change { get; set; } = new ChangePassword();

    public void HandleChange()
    {
        change.Email = localStorage.GetItem<string>("email");
        UserService.UpdatePassword(change); 
        NavigationManager.NavigateTo("/profile");
    }
}
